//----------Colors-----------
//background-color
$primaryColor : #f8f4f1;
$secondColor : #fadbcc;
$thirdColor : #f7f1eb ;
$overlayBg : #938276 ;
$lightOrangeBtn : #ffc89a ; //btn hover
$white:#fff;
$red:#ff0000;


//img-bg-color
$darkColor:#b79a83 ; 
$purpleColor : #d3afcc ;


//text-before-bg
$lightOrange : #ffe0a9 ; 
$lightGrayPurple : #eddfec ; 

//text-colors 
$titleColor : #181818;
$linksColor : #212121 ; 
$lightTextColor : #343434 ; 

//----------Fonts-----------
//font-family 
$titleFont : 'Cinzel Decorative', cursive ; 
$linksBtnsFont : 'Montserrat', sans-serif ;
$paragraphFonts : 'Raleway', sans-serif ; 

//font-size 
$titleSizeBig :  2.8125rem;
$titleSizeMd :2.1875rem;
$paragraph :0.875rem;





